@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  input {
    @apply !text-[16px];
  }
}

@layer components {
  .container-screen {
    @apply mx-auto max-w-7xl px-4 lg:px-6;
  }

  .hover-effect {
    @apply transition-all duration-300 ease-in-out;
  }

  .icon-size {
    @apply h-5 w-5;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#d4a373 0 0);
  background:
    var(--c) 0 50%,
    var(--c) right 0 bottom 20px,
    var(--c) 100% 0,
    var(--c) 50% 0,
    var(--c) right 20px bottom 0,
    var(--c) 0 100%;
  animation: l5 1.5s infinite alternate;
}
@keyframes l5 {
  0% {
    background-size:
      0 4px,
      4px 0,
      0 4px,
      4px 0,
      0 4px,
      4px 0;
  }
  16.67% {
    background-size:
      100% 4px,
      4px 0,
      0 4px,
      4px 0,
      0 4px,
      4px 0;
  }
  33.33% {
    background-size:
      100% 4px,
      4px 50%,
      0 4px,
      4px 0,
      0 4px,
      4px 0;
  }
  50% {
    background-size:
      100% 4px,
      4px 50%,
      50% 4px,
      4px 0,
      0 4px,
      4px 0;
  }
  66.67% {
    background-size:
      100% 4px,
      4px 50%,
      50% 4px,
      4px 100%,
      0 4px,
      4px 0;
  }
  83.33% {
    background-size:
      100% 4px,
      4px 50%,
      50% 4px,
      4px 100%,
      50% 4px,
      4px 0;
  }
  95%,
  100% {
    background-size:
      100% 4px,
      4px 50%,
      50% 4px,
      4px 100%,
      50% 4px,
      4px 50%;
  }
}
